header {
  background: rgba(255,255,255,1);
  border-top: 2px solid rgba(218,51,118,1);
  padding: 10px 0;
}

header > img {
  display: block;
  margin: 0 auto;
  max-width: 260px;
}

header > div.langs {
  position: absolute;
  top: 0;
  right: 15px;
  background: rgba(218,51,118,1);
  font-size: 14px;
  font-weight: 700;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px 6px;
}