<footer>
  <p>pinkman © 2021</p>
  <button class="impressum-fn-toggle" type="button" name="toggle-impressum" (click)=toggleDisplayDiv() >impressum</button>
  <div class="impressum" *ngIf="!isShowDiv">
    <p><span>Company Name</span>Pinkman limited liability company for marketing services (Pinkman d.o.o.)</p>
    <p><span>Headquarters</span>Crnčićeva 7, 51000 Rijeka, Croatia</p>
    <p><span>Office</span>Andrije Medulića 6, 51000 Rijeka, Croatia</p>
    <p><span>Commercial Court</span>51000 Rijeka, Croatia</p>
    <p><span>Registration Number</span>040400739</p>
    <p><span>Identification Number</span>HR68702327558</p>
    <p><span>IBAN</span>HR1024020061100918420</p>
    <p><span>Share Capital</span>20.000,00 HRK (fully paid)</p>
    <p><span>Board Members</span>Marijana Zečević</p>
  </div>
</footer>