<section id="careers-wrapper" class="careers">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <h2>careers
        </h2>
        <div class="ready">Ready for a new challenge? Check our open positions.</div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Backend Developer</h3>
            </mat-panel-title>
            <mat-panel-description>
              <ul class="list-2-know">
                <li><mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                tag</mat-icon>php</li>
                <li><mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                tag</mat-icon><li>symfony</li>
                <li><mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                tag</mat-icon><li>zend</li>
                <li><mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                tag</mat-icon><li>mysql</li>
                <li><mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                tag</mat-icon><li>doctrine</li>
                <li><mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                tag</mat-icon><li>oop</li>
                <li><mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                tag</mat-icon><li>git</li>
              </ul> 

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="details active">

            <div class="lookin">We are looking for a PHP Developer responsible for managing back-end services and the interchange of data between the server and the users.</div> 
            <h4>Responsibilites</h4>
                  <ul>
              <li>Integration of user-facing elements developed by front-end developers</li>
              <li>Build efficient, testable, and reusable PHP modules</li>
              <li>Solve complex performance problems and architectural challenges</li>
              <li>Integration of data storage solutions</li>
              <li>Team leading abilities and mentoring</li>
                  </ul>
                  <h4>About you</h4>
                  <ul>
              <li>Knowledge of object oriented PHP programming</li>
              <li>Understanding fundamental design principles behind a scalable application</li>
              <li>User authentication and authorization between multiple systems, servers, and environments</li>
              <li>Understanding of MVC design patterns</li>
              <li>Familiarity with SQL databases and their declarative query languages</li>
                  </ul>
                </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Frontend Developer</h3>
            </mat-panel-title>
            <mat-panel-description>
              <ul class="list-2-know">
                <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                  tag</mat-icon><li>html</li>
                  <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                    tag</mat-icon><li>css</li>
                    <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                      tag</mat-icon><li>bootstrap</li>
                      <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                        tag</mat-icon><li>javascript</li>
                        <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                          tag</mat-icon><li>vue</li>
                          <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                            tag</mat-icon><li>angular</li>
                            <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                              tag</mat-icon><li>git</li>
              </ul> 

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="details active">

            <div class="lookin">We are looking for a Front-End Web Developer who is motivated to combine the art of design with the art of programming. You will work with the UI/UX designer and bridge the gap between graphical design and technical implementation, taking an active role on both sides and defining how the application looks as well as how it works.</div> 
            <h4>Responsibilites</h4>
            <ul>
              <li>Develop new user-facing features on demand</li>
              <li>Build reusable code and libraries for future use</li>
              <li>Ensure the technical feasibility of UI/UX designs</li>
              <li>Optimize application for maximum speed and scalability</li>
              <li>Assure that all user input is validated before submitting to back-end</li>
              <li>Collaborate with other team members and stakeholders</li>
            </ul>
                <h4>About you</h4>
                <ul>
                  <li>Ability to properly structure SCSS composition according to established standards</li>
                  <li>Ability to Strictly follow the DRY principles (a huge Must)</li>
                  <li>Ability to maintain proper code block comments</li>
                  <li>Proactive mindset</li>
                  <li>Team player</li>
                </ul>
                </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>CRM Executive</h3>
            </mat-panel-title>
            <mat-panel-description>
              <ul class="list-2-know">
                <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                  tag</mat-icon><li>crm</li>
                  <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                    tag</mat-icon><li>email marketing</li>
                    <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                      tag</mat-icon><li>sms marketing</li>
                      <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                        tag</mat-icon><li>kpi</li>
              </ul> 

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="details active">

            <div class="lookin">As a CRMer, on a daily basis you will implement, carry out and come up with strategies to engage customers. Together with your team, your challenge will be to increase activation and retention for the assigned projects.</div> 
            <h4>Responsibilites</h4>
            <ul>
              <li>Testing and quality analysis of CRM campaigns</li>
              <li>Execution of CRM strategies</li>
              <li>Increasing KPIs through best practices</li>
              <li>Actively searching and introducing innovative marketing strategies to improve results</li>
            </ul>
                <h4>About you</h4>
                <ul>
                  <li>Excellent English skills (verbal, reading and writing)</li>
                  <li>Very good communication skills and an inclination for teamwork</li>
                  <li>Able to work well with other departments to ensure success of email campaigns, driving open dialogue and communications</li>
                  <li>A strong understanding of marketing, customer’s engagement and their motivation is considered a big advantage</li>
                </ul>
                </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Customer Experience Agent</h3>
            </mat-panel-title>
            <mat-panel-description>
              <ul class="list-2-know">
                <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                  tag</mat-icon><li>email</li>
                  <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                    tag</mat-icon><li>live chat</li>
                    <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">
                      tag</mat-icon><li>multitasking</li>
              </ul> 

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="details active">

            <div class="lookin">Your main task will be talking with our customers via email and chat, with a goal of making sure they have a great experience with us and the 6 global brands we represent. You will work among great people, with team leaders and coaches to constantly update your knowledge, so teamwork should not come foreign to you.</div> 
                <h4>About you</h4>
                <ul>
                  <li>Excellent knowledge of English, both written and spoken
                  </li>
                  <li>Great communication skills
                  </li>
                  <li>Multitasking and problem-solving skills
                  </li>
                  <li>Experience with Google Drive, Google Sheets, Google Documents, Excel, Word, Skype and Gmail
                  </li>
                  <li>Previous experience with customers is a plus
                  </li>
                </ul>
                </div>
        </mat-expansion-panel>
      </mat-accordion>
      </div>
    </div>
  </div>
</section>