<section class="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 >services</h2>
        <div class="serv">What we can do for you? Here's a short summary.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="services-item">
          <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">code_off</mat-icon>

          <h3>web development</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="services-item">
          
          <mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">done_all</mat-icon>
          <h3>quality assurance</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="services-item">
          <div><mat-icon class="material-icons" color="accent" aria-hidden="false" aria-label="Example code icon">headset_mic</mat-icon></div>
            <h3>customer experience</h3>
        </div>
      </div>
    </div>
  </div>
</section>